
    @page
    @{
        ViewData["Title"] = "Ad";
        <!DOCTYPE html>
        <html lang="en">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Sharyna.style.css" asp-append-version="true" />
        <head>

        </head>

        <body>



            <br>

            <div class="row">
                <div class="car-view col-5">
                    <h2>2022 Alfa Romeo Giulia 2.0 36,420 SAR</h2>

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/alfa-romeo-stelvio-giulia-2022_2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/alfa-romeo-stelvio-giulia-2022_2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/alfa-romeo-stelvio-giulia-2022_2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

                <div class="col-5">
                    <h2 class="basic-header"><span style="margin-top:2.5px;" class="material-icons"></span>Car Specs</h2>
                    <div class="car-table">
                        <ul class="basic-info">
                            <li>Ownership:</li>
                            <li>Price:</li>
                            <li>Manufacturer:</li>
                            <li>Model:</li>
                            <li>Trim:</li>
                            <li>Kilometer:</li>
                            <li>Year:</li>
                            <li>Fuel type:</li>
                            <li>Color:</li>
                            <li>City:</li>
                            <li>HP:</li>
                            <li>Transmission:</li>
                            <li>Mojaz:</li>
                            <li>Contact:</li>
                        </ul>
                        <ul class="basic-value">
                            <li><div class="table-info">Not Verified</div></li>
                            <li><div class="table-info">36,420 SAR</div></li>
                            <li><div class="table-info">alfa romeo</div></li>
                            <li><div class="table-info">Giulia</div></li>
                            <li><div class="table-info">2.0</div></li>
                            <li><div class="table-info">100KM</div></li>
                            <li><div class="table-info">2022</div></li>
                            <li><div class="table-info">Petrol</div></li>
                            <li><div class="table-info">Blue</div></li>
                            <li><div class="table-info">Torino</div></li>
                            <li><div class="table-info">149 kW (203 HP)</div></li>
                            <li><div class="table-info">Automatic</div></li>
                            <li><div class="table-info">Not Provided</div></li>
                            <li><div class="table-info">0505222111</div></li>
                        </ul>
                    </div>

                </div>

            </div> <br><br><br>











           

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

        </body>
    </html>



    }




